body{
  background-color: #41576d;
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  
}

.button{
  width: 150px;
  height: 50px;
  background-color: rgb(113, 137, 163);
  border: 1px solid #74889c;
  color: rgb(233, 236, 243);
  font-size: 1.5em;
  border-radius: 5px;
 
}

#game-board{
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  border: 6px solid #2c3e50;
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 10px;
}

.box{
  box-sizing: border-box;
  border: 6px solid #2c3e50;
  font-size: 4em;
  padding: 50px;
  width: 200px;
  height: 200px;
}

.show{
  opacity: 0.2;
}

.hide{
  display: none;
}
