body{
  background-color: #41576d;
  text-align: center;
  font-family: Helvetica;
}

h1, h2{
  color: #fff;

}


.button{
  box-sizing: border-box;
  width: 150px;
  height: 70px;
  padding: 15px 10px;
  background-color: azure;
  border: 1px solid #bddcfa;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 1.5em;
}

#game-board
{
	width: 600px;
	height: 600px;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box
{
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show{
  opacity: 0.2;
}
.hide{
  display: none;
}

